body {
	color: #000;
}

a:link {
	color: #200120;
	text-decoration: none;
}

a:visited {
	color: #200120;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}

.logo img {
	background:url(../../images/multicolors/logo_white.png) center no-repeat;
}

.menu {
	background: #9933cc url(../../images/multicolors/bg3.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#9933cc), to(#811db3)) url(../../images/multicolors/bg3.png); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #9933cc, #811db3) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #9933cc, #811db3) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9933cc, endColorstr=#811db3) url(../../images/multicolors/bg3.png);
	color: #ffffff;
}

.menu li:hover {
	background: #591c59 url(../../images/multicolors/bg3.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#7a327a), to(#591c59)) url(../../images/multicolors/bg3.png); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7a327a, #591c59) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #7a327a, #591c59) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7a327a, endColorstr=#591c59);
	color:#ffffff;
}
#panel, .logo {
	background: #370d37;
	background: -webkit-gradient(linear, left top, left bottom, from(#370d37), to(#260626)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#370d37, endColorstr=#260626);
	border: 1px solid #200120;
	color:#ffffff;
}

#panel a:link, #panel a:hover, #panel a:visited, #panel a:active {
	color: #ffffff;
}

.forumbitcat1 {
	background: #370d37;
	background: -webkit-gradient(linear, left top, left bottom, from(#370d37), to(#260626)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#370d37, endColorstr=#260626);
	color: #ffffff;
}

.forumbit_on, .forumbit_minion {
	background: #370d37;
	background: -webkit-gradient(linear, left top, left bottom, from(#370d37), to(#260626)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #370d37, #260626); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#370d37, endColorstr=#260626);
}

.forumbit_off, .forumbit_minioff {
	background: #595959;
	background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#494949)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #595959, #494949); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #595959, #494949); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#595959, endColorstr=#494949);
}

.forumbit_offlock, .forumbit_miniofflock {
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #1b1b1b, #000000); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #1b1b1b, #000000); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1b1b1b, endColorstr=#000000);
}

.thead {
	background: #660066 url(../../images/multicolors/bg3.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#5a0e5a), to(#660066)) url(../../images/multicolors/bg3.png); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #5a0e5a, #660066) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #5a0e5a, #660066) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5a0e5a, endColorstr=#660066);
	color: #ffffff;
}

.tcat {
	background: #9933cc url(../../images/multicolors/bg3.png);
	background: -webkit-gradient(linear, left top, left bottom, from(#9933cc), to(#811db3)) url(../../images/multicolors/bg3.png); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #9933cc, #811db3) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #9933cc, #811db3) url(../../images/multicolors/bg3.png); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9933cc, endColorstr=#811db3) url(../../images/multicolors/bg3.png);
	color:#ffffff;
}

.tfoot {
	background: #660066;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a0e5a), to(#660066)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #5a0e5a, #660066); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #5a0e5a, #660066); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5a0e5a, endColorstr=#660066);
	color: #ffffff;
}

.thead a:link {
	color: #ffffff;
	text-decoration: none;
}

.thead a:visited {
	color: #ffffff;
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	color: #ffffff;
	text-decoration: underline;
}

.tfoot a:link {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #ffffff;
	text-decoration: underline;
}

.tcat a:link {
	color: #ffffff;
}

.tcat a:visited {
	color: #ffffff;
}

.tcat a:hover, .tcat a:active {
	color: #ffffff;
}

